<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- The above 3 meta tags *must* come first in the head; any other head content must come *after* these tags -->
    <title>Stock List</title>
    <!-- Bootstrap -->
    <link href="/static/content/bootstrap.min.css" rel="stylesheet">

    <!-- HTML5 shim and Respond.js for IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
      <script src="https://oss.maxcdn.com/html5shiv/3.7.2/html5shiv.min.js"></script>
      <script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
    <![endif]-->
  </head>
 <style>
       body {
    font-family: "Trebuchet MS", Verdana, sans-serif;
    font-size: 16px;
    background-color: 	#000000;
    color: 	#99ccff; 
    padding: 3px;
}

.btn-block {
    font-size: 22;
    display: block;
    width: 660%;
    
}

  .btn-outline {
    background-color: transparent;
    color: inherit;
    transition: all .5s;
}

.btn-primary.btn-outline {
    color: #428bca;
}

.btn-success.btn-outline {
    color: #5cb85c;
}

.btn-info.btn-outline {
    color: #5bc0de;
}

.btn-warning.btn-outline {
    color: #f0ad4e;
}

.btn-danger.btn-outline {
    color: #d9534f;
}

.btn-primary.btn-outline:hover,
.btn-success.btn-outline:hover,
.btn-info.btn-outline:hover,
.btn-warning.btn-outline:hover,
.btn-danger.btn-outline:hover {
    color: #fff;
}
</style>
  <body>
   

    
   <br>
    <!-- jQuery (necessary for Bootstrap's JavaScript plugins) -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>
    <!-- Include all compiled plugins (below), or include individual files as needed -->
    <script src="/static/scripts/bootstrap.min.js"></script>
    
    
    <script>
   var markets = ['F_AD', 'F_BO', 'F_BP', 'F_C', 'F_CC', 'F_CD',
           'F_CL', 'F_CT', 'F_DX', 'F_EC', 'F_ED', 'F_ES', 'F_FC', 'F_FV', 'F_GC',
           'F_HG', 'F_HO', 'F_JY', 'F_KC', 'F_LB', 'F_LC', 'F_LN', 'F_MD', 'F_MP',
           'F_NG', 'F_NQ', 'F_NR', 'F_O', 'F_OJ', 'F_PA', 'F_PL', 'F_RB', 'F_RU',
           'F_S', 'F_SB', 'F_SF', 'F_SI', 'F_SM', 'F_TU', 'F_TY', 'F_US', 'F_W', 'F_XX',
           'F_YM', 'AAPL', 'ABBV', 'ABT', 'ACN', 'AEP', 'AIG', 'ALL',
            'AMGN', 'AMZN', 'APA', 'APC', 'AXP', 'BA', 'BAC', 'BAX', 'BK', 'BMY',  'BRKB', 'C',
            'CAT', 'CL', 'CMCSA', 'COF', 'COP', 'COST', 'CSCO', 'CVS', 'CVX', 'DD', 'DIS', 'DOW',
            'DVN', 'EBAY', 'EMC', 'EMR', 'EXC', 'F', 'FB', 'FCX', 'FDX', 'FOXA', 'GD', 'GE',
            'GILD', 'GM', 'GOOGL', 'GS', 'HAL', 'HD', 'HON', 'HPQ', 'IBM', 'INTC', 'JNJ', 'JPM',
            'KO', 'LLY', 'LMT', 'LOW', 'MA', 'MCD', 'MDLZ', 'MDT', 'MET', 'MMM', 'MO', 'MON',
            'MRK', 'MS', 'MSFT', 'NKE', 'NOV', 'NSC', 'ORCL', 'OXY', 'PEP', 'PFE', 'PG', 'PM',
            'QCOM', 'RTN', 'SBUX', 'SLB', 'SO', 'SPG', 'T', 'TGT', 'TWX', 'TXN', 'UNH', 'UNP',
            'UPS', 'USB', 'UTX', 'V', 'VZ', 'WAG', 'WFC', 'WMT', 'XOM']

var prices = {};


for(j = 0; j < 45; j++)
  {
    var link = "/quote?s=";
    link += markets[j];
    $.getJSON( link, ping);
  }

  
    function loop() {
          var j;
          $.getJSON( "/status", ping2);
          for(j = 0; j < 45; j++)
            {
              var link = "/quote?s=";
              link += markets[j];
              console.log(j);
              $.getJSON( link, ping);
            }
         setTimeout(loop, 15000);
    }
    
    
    
    function ping(json) {
      
      prices[json["sym"]] = json["price"];
      console.log(markets.indexOf(json["sym"]));
      document.getElementById("price" + markets.indexOf(json["sym"])).innerHTML = "$" + json["price"].toFixed(2);

      
    }

    function ping2(json) {

      function compare(a, b) {
        var tempA;
        var tempB;
        if (json["portfolio"][a] !== undefined) {
          tempA = json["portfolio"][a] * prices[a];
        } else {
          tempA = 0;  
        }
        if (json["portfolio"][b] !== undefined) {
          tempB = json["portfolio"][b] * prices[b];
        } else {
          tempB = 0;  
        }
        return tempB - tempA;
      }

      markets = markets.sort(compare);
      for (i = 0; i < 45; i++) {
        document.getElementById(i).innerHTML = markets[i];        
      }

      for (j = 0; j < 45; j++) {
        if (json["portfolio"][markets[j]] !== undefined) {
          document.getElementById("num" + j).innerHTML = json["portfolio"][markets[j]];        
        } else {
          document.getElementById("num" + j).innerHTML = 0;        
        }
      }
    }

    loop();
    
    </script>
    <div class="container">
  <div class="row">
        <div class = "col-md-2 col-centered text-center">
        <a href = "/" class = "btn btn-primary btn-block" role = "button"> Return Home</a>
        <br> <br>
        </div>
      </div>
  <div class="row">
    <div class="col-sm-4">
      <div class="boxes1">
    </div>
    <script>
      var html = '';
      var i;
      for (i = 0; i < 15; i++) { 
        html += '<button type="button" class="btn btn-primary  btn-outline" id=' + i + '>'; 
        html += markets[i];
        html += '</button>';
        html += '<button type="button" class="btn btn-info  btn-outline" id=num' + i + '>';
        html += '</button>';
        html += '<button type="button" class="btn btn-default  btn-outline" id=price' + i + '>';
        html += '</button>';
        html += '<br> <br>';
      }
    $( ".boxes1" ).append( html );
    </script>
    </div>
    <div class="col-sm-4">
      <div class="boxes2">
    </div>
      <script>
      var html = '';
      var i;
      for (i = 15; i < 30; i++) { 
        html += '<button type="button" class="btn btn-primary btn-outline" id=' + i + '>'; 
        html += markets[i];
        html += '</button>';
        html += '<button type="button" class="btn btn-info btn-outline" id=num' + i + '>';
        html += '</button>';
        html += '<button type="button" class="btn btn-default btn-outline" id=price' + i + '>';
        html += '</button>';
        html += '<br> <br>';
      }
    $( ".boxes2" ).append( html );
    </script>
    </div>
    <div class="col-sm-4">
      <div class="boxes3">
    </div>
      <script>
      var html = '';
      var i;
      for (i = 30; i < 45; i++) { 
        html += '<button type="button" class="btn btn-primary btn-outline" id=' + i + '>'; 
        html += markets[i];
        html += '</button>';
        html += '<button type="button" class="btn btn-info btn-outline" id=num' + i + '>';
        html += '</button>';
        html += '<button type="button" class="btn btn-default btn-outline" id=price' + i + '>';
        html += '</button>';
        html += '<br> <br>';
      }
    $( ".boxes3" ).append( html );
    </script>
    </div>
  </div>
</div>
  </body>
</html>